.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
}
.login-container {
    margin: 0 auto;
    background-color: aqua;
    width: 303px;
    height: 386px;
}

.green-wave {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}
